


<div class="row top">

</div>

<div class="row middle">
  <div class="four columns">
  </div>
  <div class="four columns">
    <div class="invite-container">
    </div>
    
  </div>
  <div class="four columns">
  </div>
</div>

<script>
$("#invite-button").click(function(){
  $("#card").toggleClass('flipped');
});
</script>

<!-- - fix MBA: WTF is wrong with it?!
- how to position background text (with multiple devices)
- how to transition
- implement everything with cardflip http://desandro.github.com/3dtransforms/docs/card-flip.html
- WAYNE: what's up w/ 1and1? point to http://gentle-atoll-1785.herokuapp.com/
- 






Copy:
Thank you for visiting

We’re so excited to unveil our new look –
inspired by the creative minds of a new generation of tastemakers
and a fresh approach to the intersection of social and shopping.

INVITATION 
Your presence is requested at the launch of
STYLE/STALK [Logo?]

Mr. / Ms. [First Name] [Last Name]
 Event details should be sent to [Email Address].
 
For reference, I usually wear a size [#] in clothes and [#] in shoes.
The individual whose style I most admire is [e.g. Carine Roitfield]. -->