/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/
/*
background: url(bg.jpeg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
*/

@font-face {
	font-family: ProximaNova-Regular;
	src: url("ProximaNova-Regular.otf");
}

@font-face {
	font-family: hasty-tasty;
	src: url("DK HastyTasty.ttf");
}

html { 	
	height: 100%;
	overflow: hidden;
}

.top {
	height:20%;
}

.middle {
	height:65%;
}

#invite-row {
/*	height: 80%;*/
/*	height: 130%;*/
position: relative;	
bottom:-13%;
}

#invite-form {
	position: absolute;
	z-index: 1000;
	top: 45%;
	width: 96%;
	height: 50%;
	text-align: center;
}

#thank-you-container {
	display: none;
}

#thank-you {
	position: absolute;
	z-index: 1000;
	top: 0%;
	width: 96%;
	height: 50%;
	text-align: center;
}

#email-button {
	top: 345px;
	height: 30px;
	position: relative;
	display: block;
	margin: 0 auto;
	background:transparent url('button_email.png') center top no-repeat;
}

#email-button:hover {
	background-image: url('button_email_hover.png');
}

#social-media-buttons {
	top: 415px;
	position: relative;
}

.social-media-button {
	height: 36px;
	width: 35px;
	display: inline-block;
	margin: 0 7px;
}

#facebook-button {
	background: url('fb.png') center top no-repeat;
}
#facebook-button:hover {
	background-image: url('fb_hover.png');
}
#twitter-button {
	background: url('twitter.png') center top no-repeat;
}
#twitter-button:hover {
	background-image: url('twitter_hover.png');
}
#gplus-button {
	background: url('gplus.png') center top no-repeat;
}
#gplus-button:hover {
	background-image: url('gplus_hover.png');
}
#pinterest-button {
	background: url('pinterest.png') center top no-repeat;
}
#pinterest-button:hover {
	background-image: url('pinterest_hover.png');
}
#tumblr-button {
	background: url('tumblr.png') center top no-repeat;
}
#tumblr-button:hover {
	background-image: url('tumblr_hover.png');
}

/* Used for invite form */
#invite-form-container {
/*	background: url(invite_logo_front.png) no-repeat top center;
-moz-background-size: cover;
-webkit-background-size: cover;
*/
/*	height: 100%;*/
/*	-webkit-perspective: 800px;
-moz-perspective: 800px;
perspective: 800px;	
*/
}

.input-error {		
	color: red;
	font-family: ProximaNova-Regular;
	font-size: 10px;
	display: none;
	position: absolute;
	top: 26px;
	font-weight: bold;
	letter-spacing: 1px;
	opacity: 0.5;
}

#error-first-name {
	left: 322px;
}

#error-last-name {
	left: 459px;
}

#invite_form_email_address {
	left: 0px;
	width: 200px;
}

.invite-form-content {
	display: inline;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0px;
	margin-bottom: 12px;
	font-family: ProximaNova-Regular;;
}

.invite_form_input {
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 0px;
	height: 25px;
	line-height: 26px;
}

input {
	color: #5BD89D;
	bottom: 2px;
	font-family: hasty-tasty;
	font-size: 25px;
	outline: none;
	border-bottom: 1px dotted #9a9a9a;
	background-color: transparent;
	text-align: center;
}

input::-webkit-input-placeholder {
	color:    #ddd;
}
input:-moz-placeholder {
	color:    #ddd;
}
input:-ms-input-placeholder {
	color:    #ddd;
}


.invite-input-line {
	margin-bottom: 12px;
}

#invite-button {
	position: absolute;
	top: 0%;
	width: 96%;
	height: 50%;
	text-align: center;
}

#invite-button-link {	
	top: 320px;
	height: 30px;
	position: relative;
	display: block;
	margin: 0 auto;
	background:transparent url('button_invite.png') center top no-repeat;
}

/* this is kinda hacky to make it gray */
.invite-input-line span {
	color: #ccc;
}
.invite_form_gender {
	cursor: pointer;
}
#invite_form_ms {
}
#invite_form_mr {
}
.selected-gender {
}

#rsvp-button {
	width: 115px;
	height: 25px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #ccc;
	margin: 0 auto;
}

#rsvp-button :hover {
	width: 115px;
	height: 25px;
	background-color: #555;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.rsvp-button-text {
	color: white;
	font-size: 9px;
	font-weight: 400;
	padding-top: 7px;
	padding-left: 5px;
	letter-spacing: 2px;
}

/*25px*/

body{
	font-family: ProximaNova-Regular;
	background: black url(bg.jpeg) no-repeat top center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	height:100%;
}








/* Cardflip stuf TBD */

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#card figure {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
}


#card .front {
	background: red;
	text-align: center;
	font-size: 15px;
}
#card .back {
	background: blue;
	text-align: center;
	font-size: 15px;
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );  
}

#card.flipped {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}


/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
Shared Styles
----------------------------------------- */



/* -----------------------------------------
Page Name 1
----------------------------------------- */




/* -----------------------------------------
Page Name 2
----------------------------------------- */

